@model SistemaControle.Models.Grupos

@{
    ViewBag.Title = "Detailhes das Disciplinas";
}

<h2>Disciplinas</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Professor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Adicionar Aluno", "AddEstudante", new { id = Model.GrupoId }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrupoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
