@model IEnumerable<SistemaControle.Models.Grupos>

@{
    ViewBag.Title = "Relação de Professores por Disciplina";
}

<h2>Relação de Professores por Disciplina</h2>

<p>
    @Html.ActionLink("Adicionar novo Professor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Professor")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Alunos
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GruposDetalhes.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GrupoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GrupoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GrupoId })
        </td>
    </tr>
}

</table>
