@model IEnumerable<SistemaControle.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Create", new { }, new {@class = "btn btn-success" })
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
           @if (!string.IsNullOrEmpty(item.Photo))
            {
                <img src="@Url.Content(item.Photo)" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;"/>
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UserId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Ver", "Details", new { id=item.UserId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.UserId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
